@model MedChartBloodWork.Models.BloodWork

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Date Created</th>
                <td> @Html.DisplayFor(model => model.DateCreated)</td>
            </tr>

            <tr>
                <th>Exam Date</th>
                <td> @Html.DisplayFor(model => model.ExamDate)</td>
            </tr>
            <tr>
                <th>Result Date</th>
                <td> @Html.DisplayFor(model => model.ResultDate)</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <th>Hemoglobin</th>
                <td> @Html.DisplayFor(model => model.Hemoglobin)</td>
            </tr>
            <tr>
                <th>Hematocrit</th>
                <td>  @Html.DisplayFor(model => model.Hematocrit)</td>
            </tr>

            <tr>
                <th>White Blood Cell Count</th>
                <td>  @Html.DisplayFor(model => model.WhiteBloodCellCount)</td>
            </tr>


            <tr>
                <th>Red Blood Cell Count</th>
                <td> @Html.DisplayFor(model => model.RedBloodCellCount)</td>
            </tr>
        </thead>

        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <button type="button" class="btn btn-success"><a asp-action="Index" style="color:white">Back to List</a></button>
    
</div>
